<%- include('includes/header'); %>
    <h2>Dokument</h2>
    <h3><a href="/create">Skapa nytt dokument</a></h3>
    <br><br>
    <% docs.forEach(function(doc){ %>
        <h3><a href="/update/<%= doc.id %>"><%= doc.title %></a></h3>
    <% }); %>
<%- include('includes/footer'); %>
